<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your vote!</h1>
    <p>
      To confirm your vote we need to verify that this was your email.<br>
    </p>
    <p>
      Please click the following link to confirm the vote: <%= link_to %>.
    </p>
    <p>Thanks for being a part of our contest and have a great day!</p>
  </body>
</html>
