.dashboard-box {
  width: 270px;
  height: 140px;
  background-color: white;
  padding: 15px;
  display: flex;
  margin: 10px 0;
  align-items: center;
  border-radius: 8px;
  justify-content: space-around;
  box-shadow: 0 0 15px #5100ca5a;
  img {
    width: 80px;
  }
  span {
    font-size: 1rem;
    font-weight: lighter;
  }
}

.visible {
  display: none;
}

.link-style {
  color: blue;
  cursor: pointer;
}