.dashboard-box {
  width: 200px;
  height: 200px;
  background-color: white;
  padding: 15px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(41, 241, 195, 0.3);
}
