<footer class="row footer mx-auto">
  <div class="col-lg-4 col-sm-12 p-5">
    <ul>
      <li>Blog</li>
      <li>Contact Us</li>
      <li>Become a partner</li>
    </ul>
  </div>

  <div class="col-lg-4 col-sm-12 p-5">
    <ul>
      <li>Blog</li>
      <li>Contact Us</li>
      <li>Become a partner</li>
    </ul>
  </div>

  <div class="col-lg-4 col-sm-12 p-5">
    <ul>
      <li>Blog</li>
      <li>Contact Us</li>
      <li>Become a partner</li>
    </ul>
  </div>
</footer>