.filter-box {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.pill {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #5100CA;
  a {
    text-decoration: none !important;
    color: #5100CA;
  }
  text-decoration: none;
  padding: 10px;
}

.active {
  background-color: #5100CA;
  a {
    text-decoration: none !important;
    color: white;
  }
}