.banner {
  height: 40vh;
  padding: 100px 0 0 0;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .banner-container {
    padding: 10px 15px;
  }
}

.banner-back-guideline {
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  .banner-guideline {
    padding: 10px 15px;
    width: 60%;
    height: 90%;
    text-align: center;
    background-color: white;
  }
}



.white-line {
  background-color: white;
}