.form-box {
  background-color: white;
  padding: 15px;
}

.facebook-btn {
  background-color: #4064ad;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 4px;
}

.twitter-btn {
  background-color: #56aded;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 4px;
}