.navbar-lewagon {
  justify-content: space-between;
  background: #5100CA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navlink, .nav-item {
  color: white;
}

.footer {
  background: #5100CA;
  height: 200px;
  ul { padding: 0 }
  li {
    list-style: none;
    color: white;
  }
}
